<form>
    <input type="text" class="form-control" name="id" value="<%=area.id%>" hidden>
    <p>
        <label>Área</label>
        <input type="text" class="form-control" name="area" required value="<%=area.area%>"> <!-- Option list -->
    </p>
    <p>
        <label>Alerta a la que pertenece el área</label>
        <select name = "id_alerta" class="form-control" required>
            <%
            if (alertas.length > 0 ){
            for (var i =0; i < alertas.length; i++){
            %>
            <option value="<%= alertas[i].id %>" <%= area.alert_id == alertas[i].id?'selected' : null %> > <%= alertas[i].title %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>

    <p>
        <label>Descripcion</label>
        <textarea rows="5" name="areadesc" class = "form-control"><%=area.areadesc%></textarea>
    </p>
    <p>
        <label>Polígono</label>
        <input type="text" name="polygon" class = "form-control" placeholder="((x1, y1), (x2, y2), ..., (xn, yn))" value="<%=area.polygon%>"></input>
    </p>
    <p>
        <label>Código geográfico</label>
        <input type="text" name="geocode" class = "form-control" value="<%=area.geocode%>"></input>
    </p>


    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>