<form>
    <input type="text" name="id" class = "form-control" value="<%=resource.id%>" hidden></input>
    <p>
        <label>Tipo de contenido</label>
        <input type="text" class="form-control" name="mimeType" required value="<%=resource.mimetype%>"> <!-- Option list -->
    </p>
    <p>
        <label>Alerta a la que pertenece el recurso</label>
        <select name = "id_alerta" class="form-control" required>
            <%
            if (alertas.length > 0 ){
            for (var i =0; i < alertas.length; i++){
            %>
            <option value="<%= alertas[i].id %>" <%= resource.alert_id == alertas[i].id?'selected' : null %> > <%= alertas[i].title %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>

    <p>
        <label>Descripcion</label>
        <textarea rows="5" name="description" class = "form-control"><%=resource.description%></textarea>
    </p>
    <p>
        <label>Tamaño en bytes</label>
        <input type="number" name="size" class = "form-control" value="<%=resource.rec_size%>"></input>
    </p>
    <p>
        <label>URI</label>
        <input type="text" name="uri" class = "form-control" value="<%=resource.uri%>"></input>
    </p>


    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>