<form>
    <input type="text" class="form-control" name="id" value="<%=event.id%>" hidden>
    <p>
        <label>Alerta a la que pertenece el evento</label>
        <select name = "id_alerta" class="form-control" required>
            <%
            if (alertas.length > 0 ){
            for (var i =0; i < alertas.length; i++){
            %>
            <option value="<%= alertas[i].id %>" <%= event.alert_id == alertas[i].id?'selected' : null %> > <%= alertas[i].title %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>
    <p>
        <label>Fecha del evento</label>
    <div class="form-group">
        <div class='input-group'>
            <input type="text" name="edate" id="event_datepicker1" class="form-control" required value="<%=event.edate%>">
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>
    </p>

    <p>
        <label>Número de víctimas</label>
        <input type="number" name="victimnumber" class = "form-control" value="<%=event.victimnumber%>"></input>
    </p>

    <p>
        <label>Número de sospechosos</label>
        <input type="number" name="suspectnumber" class = "form-control" value="<%=event.suspectnumber%>"></input>
    </p>

    <p>
        <label>Descripcion</label>
        <textarea rows="5" name="eventdesc" class = "form-control"><%=event.eventdesc%></textarea>
    </p>

    <p>
        <label>Valido hasta</label>
    <div class="form-group">
        <div class='input-group'>
            <input type="text" name="expiration" id="event_datepicker2" class="form-control" required value="<%=event.expiration%>">
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
    </div>
    </p>

    <p>
        <label>Longitud</label>
        <input type="number" name="longitude" class = "form-control" value="<%=event.longitude%>"></input>
    </p>

    <p>
        <label>Latitud</label>
        <input type="number" name="latitude" class = "form-control" value="<%=event.latitude%>"></input>
    </p>

    <p>
        <label>Tipo de vialidad</label>
        <input type="text" name="roadtype" class = "form-control" value="<%=event.roadtype%>"></input>
    </p>

    <p>
        <label> Nombre de la vialidad</label>
        <input type="text" name="roadname" class = "form-control" value="<%=event.roadname%>"></input>
    </p>

    <p>
        <label>Número exterior</label>
        <input type="number" name="exteriornumber" class = "form-control" value="<%=event.exteriornumber%>"></input>
    </p>

    <p>
        <label>Número interior</label>
        <input type="number" name="interiornumber" class = "form-control" value="<%=event.interiornumber%>"></input>
    </p>

    <p>
        <label>Tipo de asentamiento</label>
        <input type="text" name="settlementtype" class = "form-control" value="<%=event.settlementtype%>"></input>
    </p>

    <p>
        <label>Nombre de asentamiento</label>
        <input type="text" name="settlementname" class = "form-control" value="<%=event.settlementname%>"></input>
    </p>
    <p>
        <label>Código postal</label>
        <input type="text" name="postalcode" class = "form-control" value="<%=event.postalcode%>"></input>
    </p>
    <p>
        <label>Nombre localidad</label>
        <input type="text" name="localityname" class = "form-control" value="<%=event.localityname%>"></input>
    </p>

    <p>
        <label>Código localidad</label>
        <input type="text" name="localitycode" class = "form-control" value="<%=event.localitycode%>"></input>
    </p>
    <p>
        <label>Nombre municipalidad</label>
        <input type="text" name="municipalityname" class = "form-control" value="<%=event.municipalityname%>"></input>
    </p>
    <p>
        <label>Código municipalidad</label>
        <input type="text" name="municipalitycode" class = "form-control" value="<%=event.municipalitycode%>"></input>
    </p>
    <p>
        <label>Nombre estado</label>
        <input type="text" name="statename" class = "form-control" value="<%=event.statename%>"></input>
    </p>
    <p>
        <label>Código estado</label>
        <input type="text" name="statecode" class = "form-control" value="<%=event.statecode%>"></input>
    </p>
    <p>
        <label>Calles paralelas</label>
        <textarea rows="5" name="parallel" class = "form-control"><%=event.parallel%></textarea>
    </p>
    <p>
        <label>Calles perpendiculares</label>
        <textarea rows="5" name="perpendiculars" class = "form-control"><%=event.perpendiculars%></textarea>
    </p>
    <p>
        <label>Referenicas</label>
        <textarea rows="5" name="landmarks" class = "form-control"><%=event.referencias%></textarea>
    </p>
    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>