<form>
    <input type="text" value="<%=dep.id%>" name="id" hidden>
    <p>
        <label>Nombre dependencia</label>
        <input type="text" class="form-control" value="<%=dep.nombre%>" name="dependencia" required placeholder="Por ejemplo: Procuraduría General de la República">
    </p>
    <p>
        <label>Siglas</label>
        <input type="text" class="form-control" value="<%=dep.slug%>" name="slug" required placeholder="Por ejemplo: PGR">
    </p>

    <p>
        <label>Calle</label>
        <input type="text" value="<%=dep.direccion_calle%>" class="form-control" name="direccion_calle">
    </p>

    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Número interior</label>
                <input type="text" value="<%=dep.direccion_numero_int%>" class="form-control" name="direccion_numero_int">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Número exterior</label>
                <input type="text" value="<%=dep.direccion_numero_ext%>" class="form-control" name="direccion_numero_ext">
            </p>
        </div>
    </div>


    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Colonia</label>
                <input type="text" value="<%=dep.direccion_colonia%>" class="form-control" name="direccion_colonia">
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>Localidad</label>
                <input type="text" value="<%=dep.direccion_localidad%>" class="form-control" name="direccion_localidad">
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Municipio</label>
                <input type="text" value="<%=dep.direccion_municipio%>" class="form-control" name="direccion_municipio">
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>Ciudad</label>
                <input type="text" value="<%=dep.direccion_ciudad%>" class="form-control" name="direccion_ciudad">
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Estado</label>
                <input type="text" value="<%=dep.direccion_estado%>" class="form-control" name="direccion_estado">
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>País</label>
                <input type="text" value="<%=dep.direccion_pais%>" class="form-control" name="direccion_pais" value="México">
            </p>
        </div>
    </div>


    <p>
        <button class="btn btn-primary" type="submit">Registrar cambios</button>
    </p>

</form>