<form id="find">

    <div class="row">
        <div class="col-sm-6">
            <label>Titulo de alerta</label>
            <p>
                <input type="text" class="form-control" name="title" value="Alerta...">
            </p>
        </div>
        <div class="col-sm-6">
            <label>Fuente</label>
            <select class="form-control" name = "id_source">
                <%if(deps.length > 0) {for (var i=0; i< deps.length; i ++){%>
                <option value="<%= deps[i].id %>"><%=deps[i].nombre%></option>
                <%}}%>

            </select>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <label>Fecha inicial</label>
            <div class="form-group">
                <div class='input-group'>
                    <input type="text" name="fecha_inicial" id="alerts_datepicker1" class="form-control" required>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label>Fecha final</label>
            <div class="form-group">
                <div class='input-group'>
                    <input type="text" name="fecha_final" id="alerts_datepicker2" class="form-control" required>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
    </p>
</form>
<br>
<div id = "search_results">
    <%if (alertas.length > 0){%>
    <div class="list-group">
        <% for ( var i =0; i < alertas.length ; i ++ ){ %>
        <a href="#" class="list-group-item"  data-alertas_id="<%= alertas[i].id %>">
            <h4 class="list-group-item-heading"><strong>ID: <span style="color:#a6192e"><%=alertas[i].id%></span></strong></h4>
            <h4> <%= alertas[i].title %> </h4>
            <p class="list-group-item-text"> <strong>Enviada:</strong> <%= alertas[i].sent %></p>
        </a>
        <%}%>
    </div>

    <% include ../pagination.ejs %>

    <%}else {%>
    <div class="alert alert-info" role="alert">No hay alertas registradas</div>
    <%}%>
</div>
