<%if(alerts.length > 0){%>
<p><%='<alerta xmlns = "urn:oasis:names:tc:emergency:cap:1.2>' + '<identifier>' + alerts.id + '</identifier>' +
    '<title>' + alerts.title + '</title>' +
    '<sender>' + alerts.usuario + '</sender>' + '<sent>' + alerts.sent + '</sent>' + '<status>' + alerts.status + '</status>' +
    '<msgType>' + alerts.msgtype + '</msgType>' + '<source>' + alerts.nombre + '</source>' + '<info>' %></p>
<%for(var i = 0; i < alerts.length; i++){%>
<p><%='<id>' + alerts[i].infoid + '</id>' +  '<headline>' + alerts[i].infohead + '</headline>' +
    '<responseType>' + alerts[i].responestype + '</responseType>' +  '<event>' + alerts[i].infoevent + '</event>' +
    '<urgency>' + alerts[i].urgency + '</urgency>' +  '<certainty>' + alerts[i].certainty + '</certainty>' +
    '<effective>' + alerts[i].effective + '</effective>' +  '<description>' + alerts[i].infodesc + '</description>'%></p>
<%}%>
<p><%='</info>'%></p>
<p><%='<resource>'%></p>
<%for(var i = 0; i < alerts.length; i++){%>
<p><%='<id>' + alerts[i].resourceid + '</id>' +  '<description>' + alerts[i].resourcedesc + '</headline>' +
    '<mimeType>' + alerts[i].mimetype + '</mimeType>' +  '<size>' + alerts[i].rec_size + '</size>' +
    '<uri>' + alerts[i].uri + '</uri>'%></p>
<%}%>
<p><%='</resource>'%></p>
<p><%='</alerta>'%></p>
<%}%>