<!-- ALERTA -->
<p><%='<alerta xmlns = "urn:oasis:names:tc:emergency:cap:1.2>' + '<identifier>' + alerts.id + '</identifier>' +
    '<title>' + alerts.title + '</title>' +
    '<sender>' + alerts.usuario + '</sender>' + '<sent>' + alerts.sent + '</sent>' + '<status>' + alerts.status + '</status>' +
    '<msgType>' + alerts.msgtype + '</msgType>' + '<source>' + alerts.nombre + '</source>' %></p>

<!-- INFOS -->
<%if(infos.length >  0){%>
<p><%='<info>'%></p>
<%for(var i = 0; i <infos.length; i++){%>
<p><%='<id>' + infos[i].id + '</id>' +  '<headline>' + infos[i].headline + '</headline>' +
    '<responseType>' + infos[i].responestype + '</responseType>' +  '<event>' + infos[i].event + '</event>' +
    '<urgency>' + infos[i].urgency + '</urgency>' +  '<certainty>' + infos[i].certainty + '</certainty>' +
    '<severity>' + infos[i].severity + '</severity>' +
    '<effective>' + infos[i].effective + '</effective>' +  '<description>' + infos[i].description + '</description>'%></p>
<%}%>
<p><%='</info>'%></p>
<%}%>

<!-- RESOURCES -->
<%if(resources.length >  0){%>
<p><%='<resource>'%></p>
<%for(var i = 0; i <resources.length; i++){%>
<p><%='<id>' + resources[i].id + '</id>' +
    '<mimeType>' + resources[i].mimetype + '</mimeType>' +
    '<size>' + resources[i].rec_size + '</size>' +
    '<uri>' + resources[i].uri + '</uri>' +
    '<description>' + resources[i].description + '</description>'%></p>
<%}%>
<p><%='</resource>'%></p>
<%}%>


<!-- Area -->
<%if(areas.length >  0){%>
<p><%='<area>'%></p>
<%for(var i = 0; i <areas.length; i++){%>
<p><%='<id>' + areas[i].id + '</id>' +
    '<area>' + areas[i].area + '</area>' +
    '<description>' + areas[i].description + '</description>' +
    '<polygon>' + areas[i].polygon + '</polygon>' +
    '<geocode>' + areas[i].geocode + '</geocode>'%></p>
<%}%>
<p><%='</area>'%></p>
<%}%>

<!-- Victims  -->
<%if(victims.length >  0){%>
<p><%='<victims>'%></p>
<%for(var i = 0; i < victims.length; i++){%>
<p><%='<id>' + victims[i].id + '</id>' +
    '<name>' + victims[i].name + '</name>' +
    '<surname1>'  + victims[i].surname1 + '</surname1>' +
    '<surname2>'  + victims[i].surname2 + '</surname2>' +
    '<birthdate>' + victims[i].birthdate + '</birthdate>' +
    '<age>' + victims[i].age + '</age>' +
    '<gender>' + victims[i].gender + '</gender>' +
    '<nationality>' + victims[i].nationality + '</nationality>' +
    '<hairtype>' + victims[i].hairtype + '</hairtype>' +
    '<haircolor>' + victims[i].haircolor + '</haircolor>' +
    '<eyecolor>' + victims[i].eyecolor + '</eyecolor>' +
    '<height>' + victims[i].height + '</height>' +
    '<weight>' + victims[i].weight + '</weight>' +
    '<complex>' + victims[i].complex + '</complex>' +
    '<wear>' + victims[i].wear + '</wear>' +
    '<peculiar>' + victims[i].peculiar + '</peculiar>'%></p>
    <%}%>
<p><%='</victims>'%></p>
<%}%>

<p><%='</alerta>'%></p>